:root {
    --background-color: rgb(37, 37, 37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift;
    scrollbar-width: thin !important;
    scrollbar-color: #92ff00ff #92ff0080 !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
}

h1 {
    font-size: 5vh;
}